.signup-header {
  text-align: center;
  margin-bottom: 32px;
}

.signup-logo a {
  font-size: 24px;
  font-weight: bold;
  color: #1dc078;
  text-decoration: none;
  user-select: none;
}

.signup-title {
  font-size: 26px;
  font-weight: bold;
  color: #343a40;
  margin: 24px 0;
  text-align: center;
}

.signup-message-slider {
  overflow: hidden;
  width: 100%;
  height: 24px;
  margin-bottom: 32px;
  position: relative;
  display: flex;
}

.slider-content {
  display: flex;
  flex-direction: column;
}

.slide-message {
  position: absolute;
  height: 24px;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #858a8d;
  font-size: 14px;
  opacity: 0;
  transform: translateX(100%);
}

.slide-message:nth-child(1) {
  animation: slideInOut 10s ease-in-out infinite 0s;
}

.slide-message:nth-child(2) {
  animation: slideInOut 10s ease-in-out infinite 2.5s;
}

.slide-message:nth-child(3) {
  animation: slideInOut 10s ease-in-out infinite 5s;
}

.slide-message:nth-child(4) {
  animation: slideInOut 10s ease-in-out infinite 7.5s;
}

@keyframes slideInOut {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  5%,
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  25% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
