.community-page {
  padding-top: 45px;
}

.community-page-header {
  margin-bottom: 40px;
  padding: 24px 32px;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  background-color: #333b3d;
}

.community-page-header h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
}

.community-page-header p {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  color: white;
}

.community-page-content {
  min-width: 600px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.community-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e4e4e4;
  min-width: 450px;
}

.community-controls-left {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 450px;
  max-width: 510px;
}

.community-controls-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  min-width: 350px;
  max-width: 510px;
}

.btn-write {
  padding: 8px 16px;
  background-color: #1dc078;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
}

.btn-write:hover {
  background-color: #18a167;
}

@media (max-width: 768px) {
  .community-controls {
    flex-direction: column;
    gap: 16px;
  }

  .community-controls-right {
    width: 100%;
    justify-content: space-between;
  }
}
