.validation-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #858a8d;
  font-size: 13px;
  margin-bottom: 4px;
}

.validation-item.valid {
  color: #1dc078;
}

.validation-item.invalid {
  color: #fa5252;
}

.validation-item i {
  font-size: 14px;
  width: 14px;
  text-align: center;
}
